<h3><i class='fas fa-book-reader'></i> YourStories</h3>
<section class='section'>
  <p class='lead'>Create public and private stories from ypur life</p>
</section>
<div class='divider'></div>
<section class='section'>
  <a href='/auth/google' class='btn red darken-1'>
    <i class='fab fa-google left'></i>
    Log In With Google</a>
</section>